@charset "UTF-8";
body {
  margin: 0;
  font-family: Georgia;
  color: #666666;
  font-size: 13px;
  line-height: 18px;
  background-image: url("../images/full-bkgd.jpg");
  background-repeat: repeat-x;
  cursor: default; }

p {
  margin: 0;
  padding: 0; }

a {
  color: #666666;
  text-decoration: none;
  cursor: pointer; }

h1 {
  color: #7594b7;
  font-size: 60px;
  line-height: 55px;
  font-weight: normal;
  text-shadow: #ffffff 2px 0;
  margin: 0;
  padding: 0; }

h2 {
  color: #7594b7;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  margin: 0;
  padding: 0; }

h3 {
  color: #7594b7;
  font-size: 24px;
  line-height: 36px;
  font-weight: normal;
  margin: 0;
  padding: 0; }

.button-outer {
  margin: 0 auto;
  display: inline-block;
  border: 1px solid #f1f1f1;
  padding: 2px;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease 0s; }
  .button-outer .button-inner {
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 2px 10px;
    border: 1px solid #dadada;
    background: white;
    background: -moz-linear-gradient(top, white 0%, #fde6e6 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(100%, #fde6e6));
    background: -webkit-linear-gradient(top, white 0%, #fde6e6 100%);
    background: -o-linear-gradient(top, white 0%, #fde6e6 100%);
    background: -ms-linear-gradient(top, white 0%, #fde6e6 100%);
    background: linear-gradient(to bottom, white 0%, #fde6e6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fde6e6', GradientType=0 ); }

.button-outer:hover {
  background-color: #f1f1f1;
  border: 1px solid #dddddd; }
  .button-outer:hover .button-inner {
    background: white;
    background: -moz-linear-gradient(top, white 0%, #eecece 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(100%, #eecece));
    background: -webkit-linear-gradient(top, white 0%, #eecece 100%);
    background: -o-linear-gradient(top, white 0%, #eecece 100%);
    background: -ms-linear-gradient(top, white 0%, #eecece 100%);
    background: linear-gradient(to bottom, white 0%, #eecece 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eecece', GradientType=0 ); }

input {
  color: #333333;
  font-family: Georgia;
  font-size: 13px;
  line-height: 18px; }

.input-outer {
  background-color: #ffffff;
  padding: 2px;
  border: 1px solid #f0f0f0;
  display: inline-block;
  text-align: center; }
  .input-outer .input-inner {
    padding: 8px;
    display: block;
    font-style: italic;
    background: #dadada;
    background: -moz-linear-gradient(top, #dadada 0%, #fefefe 63%, #fefefe 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #dadada), color-stop(63%, #fefefe), color-stop(100%, #fefefe));
    background: -webkit-linear-gradient(top, #dadada 0%, #fefefe 63%, #fefefe 100%);
    background: -o-linear-gradient(top, #dadada 0%, #fefefe 63%, #fefefe 100%);
    background: -ms-linear-gradient(top, #dadada 0%, #fefefe 63%, #fefefe 100%);
    background: linear-gradient(to bottom, #dadada 0%, #fefefe 63%, #fefefe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dadada', endColorstr='#fefefe', GradientType=0 ); }
  .input-outer *:focus {
    outline: none; }
  .input-outer .input-inner::-webkit-input-placeholder,
  .input-outer .input-inner::-moz-placeholder,
  .input-outer .input-inner:-moz-placeholder,
  .input-outer .input-inner:-ms-input-placeholder,
  .input-outer .input-inner:focus::-webkit-input-placeholder,
  .input-outer .input-inner:focus::-moz-placeholder,
  .input-outer .input-inner:focus:-moz-placeholder,
  .input-outer .input-inner:focus:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease; }

.top-bar {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  height: 7px;
  background-image: url("../images/top-border.jpg");
  background-repeat: repeat-x;
  -webkit-box-shadow: 0px 2px 2px 0px #999999;
  -moz-box-shadow: 0px 2px 2px 0px #999999;
  box-shadow: 0px 2px 2px 0px #999999;
  z-index: 5; }

.page {
  width: 1028px;
  margin: auto;
  padding: 7px 0 0 0;
  position: relative;
  background-image: url("../images/page-bkgd.jpg");
  background-repeat: no-repeat;
  z-index: 1; }

.page.product {
  width: 1028px;
  margin: auto;
  padding: 7px 0 0 0;
  position: relative;
  background-image: url("../images/prod-page-bkgd.jpg");
  background-repeat: no-repeat;
  z-index: 1; }

.wrapper {
  width: 980px;
  margin: auto; }

.content {
  width: 940px;
  margin: auto; }

.hamburger-menu {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  color: #000000;
  text-transform: uppercase; }

.hamburger-menu div {
  display: none; }

.hamburger-menu button {
  position: absolute;
  top: 15px;
  right: 5%;
  border: 0;
  text-indent: 200%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8) url("http://i.imgur.com/vKRaKDX.png") center no-repeat;
  background-size: 80%;
  width: 30px;
  height: 30px;
  outline: none;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  cursor: pointer; }

.hamburger-menu button.expanded {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: transparent;
  border: 0; }

.hamburger-menu a {
  display: block;
  background: #eee;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: #222;
  font-weight: bold; }

.hamburger-menu a:hover,
.hamburger-menu a:active,
.hamburger-menu a:focus {
  background: #e7e7e7; }

/************************/
/*      TOP NAV        */
/**********************/
.top-nav {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font-style: italic;
  border-bottom: 1px solid #e6e6e6;
  height: 30px;
  z-index: -1; }
  .top-nav .contact {
    width: 300px;
    float: left; }
    .top-nav .contact div {
      display: inline-block; }
    .top-nav .contact span {
      font-size: 15px;
      font-weight: bold; }
    .top-nav .contact .button-outer {
      margin: 0 0 0 6px; }
  .top-nav .user {
    width: 640px;
    float: right; }
    .top-nav .user div {
      display: inline-block;
      float: right; }
    .top-nav .user .user-menu {
      margin: 0;
      padding: 6px 15px;
      border-right: 1px solid #e6e6e6; }
    .top-nav .user .user-menu.registry {
      padding: 6px 15px 6px 0; }
    .top-nav .user .user-menu.cart {
      border-right: none;
      padding: 6px 0 6px 15px; }
      .top-nav .user .user-menu.cart .items:after {
        content: '•';
        margin: 0 5px; }
      .top-nav .user .user-menu.cart .price {
        color: #333333;
        font-size: 15px;
        font-weight: bold;
        margin: 0 0 0 5px; }
  .top-nav .cart-icon {
    display: none; }

/************************/
/*      TOP NAV        */
/**********************/
.shadow-break {
  margin: 0;
  padding: 0;
  line-height: 0; }

/************************/
/*      HEADER         */
/**********************/
.header {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 116px; }
  .header .slogan {
    margin: 0;
    padding: 33px 0 35px 48px;
    float: left;
    color: #333333;
    font-family: "Alex Brush", cursive;
    font-size: 24px;
    line-height: 24px; }
    .header .slogan p {
      width: 192px;
      float: right;
      margin: 0;
      padding: 0;
      text-align: center; }
  .header .logo {
    margin: 25px 60px 23px 59px;
    padding: 0;
    float: left;
    width: 341px;
    height: 63px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat; }
  .header .search {
    width: 240px;
    padding: 36px 0;
    float: left; }
    .header .search .input-outer {
      position: relative; }
      .header .search .input-outer .search-icon {
        position: absolute;
        top: 12px;
        right: 12px; }
    .header .search input {
      width: 214px; }
    .header .search *:focus .search-icon {
      display: none; }

/************************/
/*      HEADER         */
/**********************/
/************************/
/* DROPDOWN NAVIGATION */
/**********************/
.main-nav {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #000000;
  letter-spacing: 0.064em;
  /*----- Top Level -----*/
  /*----- Bottom Level -----*/ }
  .main-nav a {
    transition: all linear 0.15s;
    color: #000000; }
  .main-nav .nav {
    margin: 0;
    padding: 0;
    height: 62px; }
  .main-nav li {
    margin: 0;
    list-style: none; }
  .main-nav li:hover > a {
    text-decoration: none;
    background-color: #eeeeee; }
  .main-nav ul.nav > li {
    margin: 0 0 0 6px;
    float: left;
    display: inline-block;
    position: relative;
    text-transform: uppercase; }
    .main-nav ul.nav > li > a {
      padding: 10px 15px;
      display: inline-block; }
  .main-nav ul.nav li:first-child {
    margin: 0; }
  .main-nav ul.nav > li:first-child > a {
    padding: 10px 15px 10px 0; }
  .main-nav ul.nav > li:last-child > a {
    padding: 10px 0 10px 15px; }
  .main-nav li:hover .sub-nav {
    z-index: 1;
    opacity: 1; }
  .main-nav .sub-nav {
    padding: 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1;
    opacity: 0;
    transition: opacity linear 0.15s;
    background: #ffffff;
    border: 1px solid #cccccc; }
    .main-nav .sub-nav li {
      width: 160px;
      display: block;
      font-size: 13px;
      text-transform: none;
      border-bottom: 1px solid #e3e3e3;
      margin: 0 5px; }
      .main-nav .sub-nav li a {
        display: block;
        padding: 10px 18px; }
  .main-nav ul.nav > li > .sub-nav li:first-child {
    margin: 0 5px; }
  .main-nav .sub-nav li:last-child {
    border-bottom: none; }
  .main-nav .sub-nav li:hover > a {
    font-weight: bold;
    text-decoration: none;
    background-color: #ffffff; }

.main-nav-mobile {
  display: none; }

/**********************/
/*  ROTATOR BANNER   */
/********************/
.banner .slide-name {
  position: absolute;
  color: #ffffff;
  font-family: "Alex Brush", cursive;
  font-size: 18px;
  line-height: 18px;
  left: 20px;
  bottom: 20px; }
.banner .slide-wrapper {
  position: absolute; }
.banner img.desktop {
  display: block; }
.banner img.tablet, .banner img.mobile {
  display: none; }
.banner .banner-desc {
  width: 300px;
  height: 360px;
  position: absolute;
  left: 560px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.5) 21%, rgba(255, 255, 255, 0.7) 43%, rgba(255, 255, 255, 0.85) 58%, rgba(255, 255, 255, 0.95) 72%, white 85%, white 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(21%, rgba(255, 255, 255, 0.5)), color-stop(43%, rgba(255, 255, 255, 0.7)), color-stop(58%, rgba(255, 255, 255, 0.85)), color-stop(72%, rgba(255, 255, 255, 0.95)), color-stop(85%, white), color-stop(100%, white));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.5) 21%, rgba(255, 255, 255, 0.7) 43%, rgba(255, 255, 255, 0.85) 58%, rgba(255, 255, 255, 0.95) 72%, white 85%, white 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.5) 21%, rgba(255, 255, 255, 0.7) 43%, rgba(255, 255, 255, 0.85) 58%, rgba(255, 255, 255, 0.95) 72%, white 85%, white 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.5) 21%, rgba(255, 255, 255, 0.7) 43%, rgba(255, 255, 255, 0.85) 58%, rgba(255, 255, 255, 0.95) 72%, white 85%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.5) 21%, rgba(255, 255, 255, 0.7) 43%, rgba(255, 255, 255, 0.85) 58%, rgba(255, 255, 255, 0.95) 72%, white 85%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 ); }
  .banner .banner-desc h1 {
    margin: 23px 0 16px 0; }
  .banner .banner-desc p {
    margin: 0;
    padding: 0 47px 0 46px;
    font-family: "Alex Brush", cursive;
    font-size: 24px;
    line-height: 24px; }
  .banner .banner-desc .button-outer {
    width: 153px;
    margin: 13px 73px 44px 74px; }

/**********************/
/*  ROTATOR BANNER   */
/********************/
/*************************/
/*  FEATURED PRODUCTS   */
/***********************/
.featured {
  height: 316px;
  border-bottom: 1px solid #e6e6e6; }
  .featured .product {
    width: 220px;
    margin: 0 20px 0 0;
    padding: 0;
    float: left; }
    .featured .product h2 {
      padding: 36px 39px 28px 38px; }
    .featured .product img {
      margin: 0 auto;
      padding: 21px 0 4px 0; }
    .featured .product p {
      color: #333333;
      font-size: 14px;
      line-height: 14px;
      text-align: center; }
    .featured .product p.price {
      padding: 4px 0 16px 0;
      font-weight: bold;
      line-height: 18px; }
    .featured .product .button-outer {
      width: 75px;
      margin: 21px 73px 57px 72px; }
  .featured .prod-3 {
    margin: 0; }
  .featured .desc p {
    font-family: "Alex Brush", cursive;
    font-size: 24px;
    line-height: 24px; }

/*************************/
/*  FEATURED PRODUCTS   */
/***********************/
/************************/
/*      PRODUCTS       */
/**********************/
.product {
  width: 100%;
  margin: 0 10px;
  padding: 0; }
  .product .prod-name {
    width: 100%; }
    .product .prod-name h2 {
      padding: 0 0 8px 0; }
  .product .prod-display {
    width: 100%;
    display: inline-block;
    margin: 15px 0; }
    .product .prod-display .prod-image {
      width: 43%;
      float: left;
      padding: 20px 3%;
      border-right: 1px solid #e6e6e6; }
      .product .prod-display .prod-image .placeholder-image {
        width: 320px;
        height: 340px;
        margin: 0 auto;
        background-color: #f1f1f1;
        border: 1px solid #7594b7; }
        .product .prod-display .prod-image .placeholder-image h2 {
          color: #000000;
          text-align: center;
          padding: 134px 0; }
    .product .prod-display .prod-info {
      width: 44%;
      float: left;
      padding: 20px 3%; }
      .product .prod-display .prod-info .prod-cost {
        padding: 0 0 20px 0; }
      .product .prod-display .prod-info .add-cart {
        width: 100%;
        padding: 30px 0; }
  .product .similar-prod {
    width: 100%;
    display: inline-block; }
    .product .similar-prod .sim-prod {
      width: 50%;
      float: left; }
      .product .similar-prod .sim-prod .holder-image {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        background-color: #f1f1f1;
        border: 1px solid #7594b7; }
        .product .similar-prod .sim-prod .holder-image p {
          padding: 57px 0;
          text-align: center; }
      .product .similar-prod .sim-prod .sim-prod-info p {
        padding: 7px 0 0 0;
        color: #333333;
        font-size: 14px;
        line-height: 14px;
        text-align: center; }
      .product .similar-prod .sim-prod .sim-prod-info p.price {
        padding: 4px 0 16px 0;
        font-weight: bold;
        line-height: 18px; }

/************************/
/*      PRODUCTS       */
/**********************/
/************************/
/*      WELCOME        */
/**********************/
.welcome {
  width: 100%;
  height: 285px; }
  .welcome h2 {
    padding: 20px 0 16px 0; }
  .welcome p {
    padding: 0 0 18px 0;
    color: #333333;
    font-size: 14px;
    line-height: 18px; }
    .welcome p a {
      color: #000000;
      font-weight: 500;
      text-decoration: underline; }
  .welcome .signature {
    padding: 0 0 29px 0;
    float: right;
    color: #333333;
    font-family: "Alex Brush", cursive;
    font-size: 24px;
    line-height: 24px; }

/************************/
/*      WELCOME        */
/**********************/
/*************************/
/*      FAT FOOTER      */
/***********************/
.fat-footer {
  margin: 0;
  padding: 0;
  color: #333333;
  height: 325px; }
  .fat-footer .col-sm {
    width: 140px;
    float: left;
    padding: 20px 20px 0 0; }
  .fat-footer .col-lg-full {
    width: 460px;
    float: left;
    padding: 20px 0 0 0; }
  .fat-footer .desktop {
    display: block; }
  .fat-footer .accordion-toggle.mobile {
    display: none; }
  .fat-footer .col-lg {
    width: 220px;
    float: left;
    padding: 0 20px 0 0; }
  .fat-footer .col-lg.follow {
    padding: 0; }
  .fat-footer h3 {
    padding: 0 0 6px 0; }
    .fat-footer h3 span {
      display: none; }
  .fat-footer h3.newsletter {
    padding: 0 0 1px 0; }
  .fat-footer ul {
    margin: 0;
    padding: 0; }
  .fat-footer li {
    margin: 0;
    padding: 0 0 14px 0;
    color: #000000;
    line-height: 14px;
    text-transform: uppercase;
    list-style: none; }
  .fat-footer li a {
    color: #000000; }
  .fat-footer li:last-child {
    padding: 0; }
  .fat-footer p.title {
    padding: 0 0 5px 0;
    color: #000000;
    line-height: 14px;
    text-transform: uppercase; }
  .fat-footer p {
    padding: 0 0 9px 0; }
  .fat-footer p.contact-phone {
    padding: 0 0 16px 0; }
  .fat-footer ul.store-hours li {
    padding: 0 0 5px 0;
    text-transform: none;
    list-style: none; }
  .fat-footer .social {
    padding: 1px 0 31px 0; }
  .fat-footer .social img {
    padding: 0 8px 0 0; }
  .fat-footer .social:last-child {
    padding: 0; }
  .fat-footer .follow p {
    padding: 0 0 9px 0;
    line-height: 18px;
    font-style: italic; }
  .fat-footer .input-outer {
    width: 150px;
    margin: 0;
    float: left; }
  .fat-footer input {
    width: 130px;
    float: left; }
  .fat-footer .button-outer {
    width: 53px;
    margin: 0 0 0 5px;
    float: left; }
    .fat-footer .button-outer .button-inner {
      padding: 7px; }

/*************************/
/*      FAT FOOTER      */
/***********************/
.bottom-bar {
  margin: 0;
  padding: 0 4px;
  line-height: 0; }
  .bottom-bar img.desktop {
    display: block; }
  .bottom-bar img.mobile {
    display: none; }

/*********************/
/*      FOOTER      */
/*******************/
.footer {
  margin: 0 40px;
  padding: 0;
  height: 71px; }
  .footer .footer-info {
    width: 700px;
    margin: 24px 0 0 0;
    padding: 0;
    float: right;
    color: #999999; }
    .footer .footer-info a {
      color: #999999; }
    .footer .footer-info ul {
      margin: 0;
      padding: 0 0 4px 0; }
      .footer .footer-info ul li {
        margin: 0 8px 0 0;
        padding: 0 8px 0 0;
        display: inline-block;
        list-style: none;
        border-right: 1px solid #b8b8b8; }
    .footer .footer-info ul li:last-child {
      margin: 0;
      padding: 0;
      border-right: none; }
    .footer .footer-info .powered-by {
      position: relative;
      left: -3px;
      line-height: 24px; }
      .footer .footer-info .powered-by .power-btn {
        margin: 0 0 0 5px;
        position: relative;
        top: 3px;
        left: -3px; }
      .footer .footer-info .powered-by span {
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-weight: bold;
        line-height: 32px;
        text-transform: uppercase;
        letter-spacing: -0.5px; }
      .footer .footer-info .powered-by .ae-logo {
        margin: 0 20px 0 2px;
        position: relative;
        top: 3px; }
    .footer .footer-info .powered-by > div {
      display: inline-block; }
  .footer .footer-logo {
    width: 240px;
    float: right; }
    .footer .footer-logo img {
      margin: 30px 0 192px 0;
      padding: 0;
      float: right; }

/*********************/
/*      FOOTER      */
/*******************/
@media screen and (max-width: 1024px) {
  .page, .page.product {
    margin: 0 auto;
    padding: 0;
    width: 96%;
    background-color: #ffffff;
    background-image: none; }

  .wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ffffff;
    background-image: none; }

  .hamburger-menu {
    display: none; }

  .content {
    margin: 0 auto;
    padding: 0;
    width: 97%; }

  .top-nav {
    margin: 0 10px;
    width: 98%; }
    .top-nav .contact {
      width: 40%;
      line-height: 30px; }
      .top-nav .contact .button-outer {
        display: none; }
    .top-nav .user {
      width: 60%;
      position: relative;
      right: 75px; }
    .top-nav .cart-icon {
      display: none; }

  .header {
    margin: 0 10px;
    width: 98%;
    height: 115px; }
    .header .slogan {
      font-size: 20px;
      width: 30%;
      margin: 0;
      padding: 20px 0 0 0;
      text-align: center; }
      .header .slogan p {
        width: 75%;
        padding: 0 13% 0 12%; }
    .header .logo {
      background-image: url(../images/logo-tablet.png);
      background-size: contain;
      width: 40%;
      margin: 20px 0 0 0;
      padding: 0; }
    .header .search {
      width: 30%;
      margin: 0;
      padding: 20px 0 0 0; }
      .header .search .input-outer {
        width: 75%;
        margin: 0 13% 0 12%; }
        .header .search .input-outer input {
          width: 90.5%; }

  .shadow-break {
    width: 98%; }
    .shadow-break img {
      width: 100%; }

  .main-nav {
    margin: 0 10px;
    width: 98%; }
    .main-nav ul.nav {
      margin: 0 auto; }
    .main-nav ul.nav > li > a {
      padding: 10px 5%; }
    .main-nav ul.nav > li:first-child > a {
      padding: 10px 5%; }
    .main-nav ul.nav > li:last-child > a {
      padding: 10px 5%; }

  .banner {
    width: 100%; }
    .banner .rslides {
      width: 738px;
      margin: 0 auto; }
      .banner .rslides img.tablet {
        display: block; }
      .banner .rslides img.desktop, .banner .rslides img.mobile {
        display: none; }
      .banner .rslides .slide-name {
        left: 10px;
        bottom: 10px; }
      .banner .rslides .banner-desc {
        height: 317px;
        width: 300px;
        left: 400px; }
        .banner .rslides .banner-desc h1 {
          margin: 15px 0; }
        .banner .rslides .banner-desc .banner-outer {
          margin: 13px 73px 0 74px; }

  .featured {
    margin: 0 auto;
    width: 98%;
    height: 645px; }
    .featured .product {
      width: 50%;
      float: left;
      margin: 0;
      text-align: center; }
      .featured .product h2 {
        font-size: 42px;
        line-height: 42px; }
      .featured .product .button-outer {
        width: 95px; }
        .featured .product .button-outer .button-inner {
          font-size: 14px; }

  .welcome {
    margin: 0 auto;
    width: 98%; }

  .fat-footer {
    margin: 0 auto;
    width: 98%; }
    .fat-footer .accordion-toggle {
      cursor: pointer;
      -webkit-transition: 5s ease-in-out;
      -moz-transition: 5s ease-in-out;
      -o-transition: 5s ease-in-out;
      -ms-transition: 5s ease-in-out;
      transition: 5s ease-in-out; }
    .fat-footer .accordion-content {
      display: none; }
    .fat-footer .accordion-content.default {
      display: block; }
    .fat-footer .accordion-toggle.mobile {
      display: block;
      margin: 0;
      padding: 0 0 6px 0;
      width: 100%;
      height: 24px;
      line-height: 36px; }
    .fat-footer .desktop {
      display: none; }
    .fat-footer h3, .fat-footer h3.newsletter {
      padding: 0 0 15px 0; }
    .fat-footer h3 span {
      display: block;
      margin: 0;
      padding: 0;
      width: 20px;
      height: 36px;
      line-height: 36px;
      float: right; }
    .fat-footer h3.mobile span {
      margin: 0 10px 0 0; }
    .fat-footer .col {
      width: 95%;
      margin: 0 25px 0 15px;
      padding: 17px 0 0 0;
      border-bottom: 1px solid #e0e0e0; }
    .fat-footer .col-sm {
      width: 93.5%; }
      .fat-footer .col-sm .accordion-content {
        padding: 0 0 14px 0; }
    .fat-footer .col-lg, .fat-footer .col:last-child {
      border-bottom: none; }
    .fat-footer .col-lg {
      margin: 0; }
    .fat-footer .col-lg.follow {
      margin: 25px 0 0 0; }
    .fat-footer .col-lg-full {
      padding: 17px 0 28px 0; }
    .fat-footer .input-outer {
      width: 220px; }
    .fat-footer input {
      width: 201px; }
    .fat-footer .social img {
      padding: 0 30px 0 0; }
    .fat-footer .social img.last {
      padding: 0; }

  .bottom-bar img.desktop, .bottom-bar img.mobile {
    display: none; }

  .footer {
    margin: 0 auto;
    width: 98%; }
    .footer .footer-info {
      width: 350px;
      float: left; }
      .footer .footer-info ul > li:first-child {
        border-right: none; } }
@media screen and (max-width: 866px) {
  .hamburger-menu {
    display: block; }

  .main-nav, .shadow-break {
    display: none; }

  .product .prod-display .prod-image .placeholder-image {
    width: 280px;
    height: 300px; }
    .product .prod-display .prod-image .placeholder-image h2 {
      padding: 114px 0; } }
@media screen and (max-width: 799px) {
  .top-nav .user {
    display: none; }
  .top-nav .cart-icon {
    display: inline-block;
    line-height: 30px;
    float: right;
    padding: 0 50px 0 0; }

  .main-nav-mobile {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 57px;
    font-size: 14px;
    line-height: 18px; }
    .main-nav-mobile .user-menu {
      display: inline-block;
      font-style: italic;
      text-align: center;
      width: 44%; }
    .main-nav-mobile .user-menu:first-child {
      margin: 15px 0 16px 10px;
      padding: 4px 25px 4px 0;
      border-right: 1px solid #e6e6e6; }
    .main-nav-mobile .user-menu:last-child {
      margin: 15px 10px 16px 0;
      padding: 4px 0 4px 25px; }
    .main-nav-mobile .user-menu:hover {
      background-color: #f1f1f1; }

  .banner {
    width: 100%; }
    .banner .rslides {
      width: 320px;
      height: 400px;
      margin: 0 auto; }
      .banner .rslides img.desktop, .banner .rslides img.tablet, .banner .rslides .slide-name {
        display: none; }
      .banner .rslides img.mobile {
        display: block;
        width: 320px;
        height: 206px;
        margin: 0;
        padding: 0;
        line-height: 18px; }
      .banner .rslides .banner-desc {
        margin: 0 10px;
        height: 194px;
        top: 206px;
        left: 0px;
        background: none; }
        .banner .rslides .banner-desc h1 {
          font-family: Georgia;
          font-size: 36px;
          line-height: 36px;
          text-shadow: none;
          margin: 15px 0 0 0; }
        .banner .rslides .banner-desc .banner-text {
          margin: 7px 0 17px 0;
          font-family: "Alex Brush", cursive;
          font-size: 24px;
          line-height: 24px; }
        .banner .rslides .banner-desc .button-outer {
          margin: 0 auto;
          width: 153px; }

  .fat-footer {
    height: 352px; } }
@media screen and (max-width: 768px) {
  .header {
    height: 100px; }
    .header .slogan, .header .search {
      display: none; }
    .header .logo {
      margin: 20px 30% 0 30%;
      padding: 0;
      width: 45%;
      background-image: url("../images/logo-mobile.png");
      background-repeat: no-repeat;
      background-size: contain; }

  .featured {
    width: 320px;
    height: 1100px;
    margin: 0 auto; }
    .featured .product {
      width: 300px;
      margin: 0 auto;
      text-align: center; }
      .featured .product h2 {
        margin: 23px 0 0 0;
        padding: 0;
        font-size: 32px;
        line-height: 32px; }
      .featured .product .button-outer {
        margin: 0 auto; }
      .featured .product img {
        margin: 0 auto;
        padding: 0; }
      .featured .product p {
        margin: 2px 0 0 0; }
      .featured .product p.price {
        margin: 0;
        padding: 4px 0 25px 0; }
    .featured .desc p {
      margin: 17px 0 18px 0; }
    .featured .product.prod-1 {
      margin: 22px auto 0; }

  .product .prod-name {
    text-align: center; }
  .product .prod-display {
    display: block;
    margin: 0; }
    .product .prod-display .prod-image {
      width: 100%;
      float: none;
      padding: 20px 0;
      margin: 0 auto;
      border-right: none; }
      .product .prod-display .prod-image .placeholder-image {
        width: 280px;
        height: 300px; }
        .product .prod-display .prod-image .placeholder-image h2 {
          padding: 114px 0; }
    .product .prod-display .prod-info {
      width: 100%;
      float: none;
      padding: 0 0 20px 0;
      margin: 0 auto; }
      .product .prod-display .prod-info .prod-cost, .product .prod-display .prod-info .add-cart {
        text-align: center; }
      .product .prod-display .prod-info .button-inner {
        font-size: 14px;
        padding: 5px 10px; }
  .product .similar-prod {
    width: 100%;
    display: inline-block; }
    .product .similar-prod .sim-prod {
      width: 50%;
      float: left; }
      .product .similar-prod .sim-prod .holder-image {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        background-color: #f1f1f1;
        border: 1px solid #7594b7; }
        .product .similar-prod .sim-prod .holder-image p {
          padding: 57px 0;
          text-align: center; }
      .product .similar-prod .sim-prod .sim-prod-info p {
        padding: 7px 0 0 0;
        color: #333333;
        font-size: 14px;
        line-height: 14px;
        text-align: center; }
      .product .similar-prod .sim-prod .sim-prod-info p.price {
        padding: 4px 0 16px 0;
        font-weight: bold;
        line-height: 18px; } }
@media screen and (max-width: 700px) {
  .main-nav-mobile {
    display: block;
    width: 320px;
    height: 57px;
    font-size: 14px;
    line-height: 18px; }
    .main-nav-mobile .user-menu {
      display: inline-block;
      font-style: italic;
      text-align: center; }
    .main-nav-mobile .user-menu:first-child {
      width: 122px;
      margin: 15px 0 16px 10px;
      padding: 4px 25px 4px 0;
      border-right: 1px solid #e6e6e6; }
    .main-nav-mobile .user-menu:last-child {
      width: 123px;
      margin: 15px 10px 16px 0;
      padding: 4px 0 4px 25px; }
    .main-nav-mobile .user-menu:hover {
      background-color: #f1f1f1; }

  .fat-footer {
    height: 388px; } }
@media screen and (max-width: 645px) {
  .footer {
    width: 300px;
    margin: 0 auto; }
    .footer .footer-logo {
      width: 300px;
      float: none; }
      .footer .footer-logo img {
        margin: 0;
        padding: 0 38px 20px 39px; }
    .footer .footer-info {
      width: 300px;
      float: none;
      text-align: center; }
      .footer .footer-info ul li:first-child {
        border: none; }
      .footer .footer-info .powered-by {
        margin: 0 0 40px 0; }
        .footer .footer-info .powered-by p {
          display: none; } }
@media screen and (max-width: 620px) {
  .fat-footer {
    height: 388px; } }
@media screen and (max-width: 600px) {
  .page, .page.product, .wrapper {
    margin: 0 auto;
    padding: 0;
    width: 320px;
    background-image: none;
    background-color: #ffffff; }

  .shadow-break, .main-nav {
    display: none; }

  .hamburger-menu {
    display: block;
    width: 320px;
    margin: 0 auto; }

  .content {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    transition: 0.5s; }
    .content:before {
      position: absolute;
      background-color: transparent;
      z-index: 2;
      transition: 0.5s; }

  .top-nav {
    padding: 15px 10px 13px 10px;
    border-bottom: none;
    width: 100%; }
    .top-nav .button-outer, .top-nav .user {
      display: none; }
    .top-nav .contact {
      width: 60%;
      line-height: 18px; }
      .top-nav .contact .button-outer {
        display: none; }
    .top-nav .cart-icon {
      display: inline-block;
      line-height: 18px;
      padding: 0 30% 0 0; }

  .header {
    height: 54px; }
    .header .slogan, .header .search {
      display: none; }
    .header .logo {
      margin: 0 13px 0 14px;
      padding: 0;
      width: 293px;
      height: 54px;
      background-image: url("../images/logo-mobile.png");
      background-repeat: no-repeat; }

  .product {
    width: 320px;
    margin: 0 auto; }
    .product .prod-name {
      margin: 15px 0 0 10px;
      text-align: left; }
    .product .prod-display {
      display: block;
      margin: 0; }
      .product .prod-display .prod-image {
        width: 300px;
        margin: 0 auto; }
        .product .prod-display .prod-image .placeholder-image {
          width: 280px;
          height: 300px; }
          .product .prod-display .prod-image .placeholder-image h2 {
            padding: 114px 0; }
      .product .prod-display .prod-info {
        width: 100%;
        float: none;
        padding: 0 0 20px 0;
        margin: 0 auto; }
        .product .prod-display .prod-info .prod-cost, .product .prod-display .prod-info .add-cart {
          text-align: center; }
        .product .prod-display .prod-info .prod-desc {
          padding: 0 10px; }
        .product .prod-display .prod-info .button-inner {
          font-size: 14px;
          padding: 5px 10px; }
    .product .similar-prod {
      display: none; }

  .welcome {
    width: 289px;
    margin: 0 0 0 14px; }

  .fat-footer .accordion-toggle {
    cursor: pointer;
    -webkit-transition: 5s ease-in-out;
    -moz-transition: 5s ease-in-out;
    -o-transition: 5s ease-in-out;
    -ms-transition: 5s ease-in-out;
    transition: 5s ease-in-out; }
  .fat-footer .accordion-content {
    display: none; }
  .fat-footer .accordion-content.default {
    display: block; }
  .fat-footer .accordion-toggle.mobile {
    display: block;
    margin: 0;
    padding: 0 0 6px 0;
    width: 300px;
    height: 24px;
    line-height: 36px; }
  .fat-footer .desktop {
    display: none; }
  .fat-footer h3, .fat-footer h3.newsletter {
    padding: 0 0 15px 0; }
  .fat-footer h3 span {
    display: block;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 36px;
    line-height: 36px;
    float: right; }
  .fat-footer h3.mobile span {
    margin: 0 10px 0 0; }
  .fat-footer .col {
    width: 290px;
    margin: 0 15px;
    padding: 17px 0 0 0;
    border-bottom: 1px solid #e0e0e0; }
  .fat-footer .col-sm .accordion-content {
    padding: 0 0 14px 0; }
  .fat-footer .col-lg, .fat-footer .col:last-child {
    border-bottom: none; }
  .fat-footer .col-lg {
    margin: 0; }
  .fat-footer .col-lg.follow {
    margin: 25px 0 0 0; }
  .fat-footer .col-lg-full {
    padding: 17px 0 28px 0; }
  .fat-footer .input-outer {
    width: 220px; }
  .fat-footer input {
    width: 201px; }
  .fat-footer .social img {
    padding: 0 30px 0 0; }
  .fat-footer .social img.last {
    padding: 0; }

  .bottom-bar {
    width: 320px;
    height: inherit;
    background-image: none; }
    .bottom-bar img.mobile {
      display: block; }
    .bottom-bar img.desktop {
      display: none; } }

/*# sourceMappingURL=main.css.map */
